# Visual Studio
.vs/
*.user
*.suo

# .NET build artifacts
bin/
obj/

# Node / Angular
node_modules/
dist/
.angular/
coverage/

# VS Code
.vscode/

# Logs / OS
*.log
.DS_Store
Thumbs.db

backend/F1Fantasy.Api/.dotnet/
backend/F1Fantasy.Api/.nuget/
backend/F1Fantasy.Api/artifacts/